/* Estilo básico para o corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contêiner do login */
.login-container {
    margin-top: 200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Estilo para o título do login */
.login-container h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #333;
}

/* Estilo para grupos de entrada */
.input-group {
    margin-bottom: 15px;
}

/* Estilo para rótulos de entrada */
.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilo para campos de entrada */
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo para o botão */
button {
    background-color: #73d2c0;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #509a8d;
}
.foto1 {
    
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: absolute; /* Permite posicionamento absoluto */
    top: 0px; /* Ajuste a distância do topo conforme necessário */
    left: 49%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição horizontal para a centralização exata */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
}
.login-container {
    position: relative;
    z-index: 1; /* Garantir que a div está acima de outros elementos */
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.foto1 {
    display: block;
    margin: 0 auto;
}